#hero{
    min-height: 80rem;
    height: 100vh;
    background-image: url(../../Assets/hero-bg.png);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);

    .container{
        text-align: right;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 25rem;

        h1{
            margin-bottom: 1rem;
        }
        h2{
            max-width: 50rem;
            margin-left: auto;
        }
    }
}