#team{
    position: relative;
    background: #000;
    padding-top: 30rem;
    padding-bottom: 5rem;
    margin-top: -20rem;

    h3{
        text-align: center;
        color: #fff;
    }
    
    h4{
        text-align: center;
        margin: 1.5rem 0 2.3rem;
        color: #fff;
    }

    .line{
        width: 40rem;
        max-width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.384);
        margin: 0rem auto;
    }

    .filtration{
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: 7rem 0;

        @media only screen and (max-width: 400px) {
            gap: 3rem;
        }

        .btn-filter{
            background: transparent;
            border: none;
            color: #868686;
            font-size: 1.5rem;
            font-weight: 700;
            transition: color .3s ease;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -6px;
                left: 0;
                background-color: #fff;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover{
                color: #fff;
            }

            &.active{
                color: #fff;

                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }


    .container{
        padding: 0;
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .member-container{
            position: relative;

            .member-main{

                img{
                    height: 100%;
                    width: 100%;
                    filter: grayscale(100%);
                    transition: filter .3s ease;
                    margin-bottom: -2px;
                }
            }

            .member-hover{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #e5eaee;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 2rem;
                width: 100%;
                z-index: -1;
                transition: left .3s ease;

                .member-name{
                    font-size: 2rem;
                    font-weight: 700;
                    color: #000;
                    text-transform: uppercase;
                }
                
                .member-duties{
                    font-size: 1.5rem;
                    color: #000;
                }
            }

            &:hover{
                .member-hover{
                    left: 100%;
                }
            }

            &:nth-child(5n):hover{
                .member-hover{
                    left: -100%;

                    @media only screen and (max-width: 600px) {
                        left: 100%;
                    }
                }
            }

            &:nth-child(3n):hover{
                .member-hover{
                    @media only screen and (min-width: 400px) and (max-width: 600px) {
                        left: -100%;
                    }
                }
            }

            &:nth-child(2n):hover{
                .member-hover{
                    @media only screen and (max-width: 400px) {
                        left: -100%;
                    }
                }
            }

        }



        &:hover .member-container:hover{
            z-index: 2;
            .member-main img{
                filter: grayscale(0%);
            }
        }

        &:hover .member-container{
            z-index: 1;
        }

    }

    .load-more-btn{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        padding: 1.8rem 3.5rem;
        margin: 0 auto;
        display: block;
        transition: background .3s ease, color .3s ease;

        &:hover{
            background: #fff;
            color: #000;
        }
    }
}