footer{
    padding: 3rem 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copy{
            font-size: 1.3rem;
        }

        .footer-menu{
            display: flex;
            gap: 3rem;

            li{

                a{
                   font-size: 1.3rem; 
                }
            }
        }
    }
}